/* elements selector */
p{
    border: 2px solid rebeccapurple;
}
/* id selector */
#firstpar{
color: aquamarine;
background-color: blueviolet;
}
/* calss selector */
.parasec{
    color: blue;
    background-color: brown;
}
/* grouping selector */
span,footer{
    color: green;
    background-color: blanchedalmond;
}